<h3>Search by region <small> {{ activeRegion | titlecase }} </small></h3>
<hr>

<h5>Choose the region</h5>

<div>
    <div class="col">
        <button *ngFor="let region of regions" 
                [class]="getClassesCSS(region)"
                (click)="activingRegion(region)"
                >{{region | titlecase}}
        </button>
    </div>
</div>

<div *ngIf="countries.length > 0" class="row animate__animated animate__fadeIn">
    <div class="col">
       <app-country-table [countries]="countries"></app-country-table>
    </div>

</div>