<h3>Buscar por reion <small> {{ activeRegion | titlecase }} </small></h3>
<hr>

<h5>Seleccione la región</h5>

<div>
    <div class="col">
        <!-- [class.btn-primary]="region === activeRegion" -->
        <!-- [ngClass]="{
            'btn-primary': activeRegion === region,
            'btn-outline-primary': activeRegion !== region
            }" 
        -->
        <!-- [class]="(region === activeRegion) ? 'btn btn-primary':'btn btn-outline-primary'" -->
        <button *ngFor="let region of regions" 
                [class]="getClassesCSS(region)"
                (click)="activingRegion(region)"
                
                >{{region | titlecase}} </button>

    </div>
</div>